<h1>List of all Teams</h1>
<% @teams.each do | team | %>
    <h4>
        <a href= '/teams/<%= team.slug %>'>
            <%= team.name %>
        </a>
    </h4>
<% end %>
<h3>
    Click <a href= "/users/login">here</a> to veiw your profile
</h3>