<h3>Login</h3>
<% if !@session[:success] %>
    <h4>Login Error: Please Enter the Correct Information</h4>
<% end %>
<form method= "post" action= "/users/login"
    <h5>Enter a username <input type= "text" name= "name"></h5>
    <h5>Enter a password <input type= "text" name= "password"></h5>
    <h5>Sumbit<input type= "submit">
</form>