<h3>Sign Up</h3>
<% if !@session[:success] %>
    <h4>Sign Up Error: Please Fill all Fields</h4>
<% end %>
<form method= "post" action= "/users/login"
    <h5>Enter a username <input type= "text" name= "name"></h5>
    <h5>Enter a password <input type= "text" name= "password"></h5>
    <h5>Sumbit<input type= "submit" name= "Submit">
</form>