<h2>Sign Up</h2>
<% if !@session[:success] %>
    <h4>Sign Up Error: Please Fill all Fields with Unqiue Information</h4>
<% end %>
<form method= "post" action= "/users/signup">
    <h4>Enter your email <input type= "text" name= "email"></h4>
    <br>
    <h4>Enter a username <input type= "text" name= "name"></h4>
    <br>
    <h4>Enter a password <input type= "text" name= "password"></h4>
    <br>
    <input type= "submit" value= "Sign Up">
</form>