<h1>Lanese Sports</h1>
<h2>Welcome to Fantasy Basketball!<h2>

<h4>Click <a href= "users/login">here</a> to log in!</h4>
<h4>Click <a href= "users/signup">here</a> to sign up!</h4>
<br>
<h5>Click <a href= "/logout">here</a> to sign out any accounts
